/* global */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
}

/* seção central, organiza o corpo da pagina */
section {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* titulo */
h1 {
	font-size: 2em;
}

ul {
	padding: 0;
	display: flex;
	width: 80%;
	justify-content: space-around;
}

.li-temp-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* fundo do termometro */
.div-temp-bg {
	background-color: #ccc;
	width: 30px;
	height: 200px;
	position: relative;
	cursor: pointer;
}

/* slider do termometro */
.div-temp-slider {
	width: 100%;
	height: 0%;
	left: 0%;
	bottom: 0%;
	position: absolute;
	cursor: pointer;
	background-color: salmon;
}

/* nome da temperatura */
.div-temp-info {
	margin-top: 20px;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	padding: 30px;
}

.p-nome-temp {
	font-size: 1.2em;
}

.div-degrees-info {
	font-size: 1em;
	display: flex;
	align-items: center;
}

.div-degrees-info p {
	margin: 0;
	padding: 0;
}

.span-degrees {
	font-size: 1.4em;
	font-weight: bold;
	font-variant-numeric: tabular-nums lining-nums;
}
